/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  nav {
    padding: 0.2rem 0.2rem;
  }

  .contains {
    padding: 0 1rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header {
    position: relative;
  }

  .nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
    transition: all 0.3s ease;
    width: 30rem;
    height: calc(100vh - 9.5rem);
    color: white;
    transition: 2s;
    z-index: 222;
  }

  .header .navbar.active {
    display: block;
    right: 0;
  }

  .header .navbar a {
    
    color: #eee;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 1rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
  .container::before {
    height: 200px; width: 200px;
    border-radius: 50%;
    background: linear-gradient(#08ffe6,#fcd200);
    
}
.container::after {
    position: absolute;
    height: 100px; width: 100px;
    border-radius: 50%;
    top: 100px;
    right: 50px;
}

.container .bola-1 {
    height: 30px; width: 30px;
    border-radius:50% ; background: #04f504;
    position: absolute;
    right: 20px;
}
.container .bola-2 {
    height: 70px; width: 70px;
    border-radius:50% ; background: #08e2ff;
    position: absolute;
}
.container .bola-3 {
    height: 50px; width: 50px;
    border-radius:50% ; background: #ffc404;
    position: absolute;

}
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 1.5rem 2rem;
  }
  .nav {
    font-size: 30%;
  }
}
