* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    list-style: none;
    font-family: sans-serif;
}

body{
    background: #000;
}

.container {
  height: 100vh; width: 100%;
    position: relative;
    background: #000;
}

.container::before {
    content:  '';
    position: absolute;
    height: 330px; width: 330px;
    border-radius: 50%;
    background: linear-gradient(#08ffe6,#fcd200);
    transform: translate(100px,50px);
    
}

.container::after {
    content:  '';
    position: absolute;
    height: 300px; width: 300px;
    border-radius: 50%;
    background: linear-gradient(#fcd200,#fc200e);
    transform: translate(30px,200px);
    top: 100px;
    right: 50px;
}

.container .bola-1 {
    height: 30px; width: 30px;
    border-radius:50% ; background: #04f504;
    transform: translate(350px,500px);
    position: absolute;

}
.container .bola-2 {
    height: 70px; width: 70px;
    border-radius:50% ; background: #08e2ff;
    transform: translate(510px,220px);
    position: absolute;
}
.container .bola-3 {
    height: 50px; width: 50px;
    border-radius:50% ; background: #ffc404;
    transform: translate(750px,150px);
    position: absolute;

}

.container .box {
    height: 86vh; width: 75%;
    padding: 0,20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
    top: 50px;
}
.container .box {
    height: 86vh; width: 75%;
    padding: 0,20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
    margin: auto;
}

.box nav {
    width: 95%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 15px auto;
    
}
nav .logo {
    width: 50%;
    margin-left: 20px;
}

nav .logo h1{
    color: rgb(214, 172, 172);
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.box nav ul li{
    display: inline-block;
    padding:  0 20px;
}
.box nav ul li a{
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    
    text-shadow: 2px 2px 3px rgba(146, 7, 7, 0.849);
}
.box nav ul li a:hover{
    color: #ffc404;
}

.container .box .contains {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    position: relative;
    margin-top: 8%;
    padding-left: 80px;
}
.container .box .contains .col-1 {
  position: absolute;
  margin-top:70px ;
}
.container .box .contains .col-1 h1 {
  font-size: 75px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.container .box .contains .col-1 h3 {
  font-size: 35px;
}
.container .box .contains .col-1 p {
  margin-top: 5px;
}
.container .box .contains .col-1 .button a {
  padding:10px 20px;
  border: 1px solid #fff;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(247, 239, 239);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  transition: all 0.2s;
}
.container .box .contains .col-1 .button a:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(143, 142, 142, 0.2);
  }
  
  .container .box .contains .col-1 .button a:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 10px rgba(117, 111, 111, 0.2);
  }
.container .box .contains .col-1 .button {
  margin-top: 50px;
  
}
.container .box .contains .col-2 img {
  width: 50%;
  height: auto;
  transform: translate(380px);
  
}
span {
color: #fc002e;
font-size: 40px;
}






